:root {
  --w-pato: 150px;
  --h-pato: 180px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url("https://modernhiker-storage.s3.amazonaws.com/modernhiker/wp-content/uploads/2015/10/duck-lake-10.jpg"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-attachment: fixed; */
}

section {
  max-width: 900px;
  margin: 2em auto;
  border: 1px solid #111;
  border-radius: 8px;
  padding: 2em;
  background-color: #f9f9f9;
}

.hero-section {
  position: relative;
  height: 100dvh;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate(-50%, -50%);

  h1 {
    color: #fff;
    font-size: 3rem;
  }
}

.segredo {
  z-index: -2;
  position: absolute;
  left: 60%;
  top: 30%;
  color: lightblue;
  font-size: 1rem;
}

.hero-button {
  margin: 1em auto;
  padding: .5em 2em;
  width: max-content;
  background-color: #fff;
}

img {
  position: fixed;
  filter: brightness(0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.pato {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: var(--w-pato);
  height: var(--h-pato);
  border: 2px solid black;
  border-radius: 50%;
  background-color: #fdfdfd;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.pato--olhos {
  position: absolute;
  top: 35%;
  left: 50%;
  display: flex;
  gap: calc(var(--w-pato) * 0.4);
  transform: translate(-50%, -50%);
}

.pato--olho {
  width: calc(var(--w-pato) * 0.1);
  height: calc(var(--w-pato) * 0.1);
  border-radius: 50%;
  background-color: black;
}

.pato--bico {
  position: absolute;
  border-radius: 50%;
  background-color: orange;
  transform: translate(-50%, -50%);
}

.superior {
  width: calc(var(--w-pato) * 0.3);
  height: calc(var(--h-pato) * 0.12);
  top: 57%;
  left: 50%;
}

.inferior {
  width: calc(var(--w-pato) * 0.5);
  height: calc(var(--h-pato) * 0.14);
  top: 60%;
  left: 50%;
}
